

.but{
    background-color:peachpuff;
    border: 4px solid coral;
    color:maroon;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;

    margin: 1px 1px;
    cursor: pointer;
    position: absolute;
    font-size:2vw;
    font-family: 'Lucida Sans';
    
    border-radius:30%;
  }
  .but:hover {
    background-color:green;
    color: white;
  }
  #but1{
    top:400px;
    left:590px;
  }

  #but2{
    top:480px;
    left:570px;
  }

  #but3{
    top:560px;
    left:590px;
  }
  div{
    text-align: center;
}
body{
    background: black;
    background-repeat: repeat-x;
  height:auto;
}


#player {
    position: absolute;
    top: 300px;
    left: 30px;
  
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.star {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
       }

.up {
    position: absolute;
    width: 30px;
    height: 50px;
    

    
}  

.down {
    position: absolute;
    width: 30px;
    height: 50px;
    
    
}  

  


  .starth1{
    font-size: 100px;
    color:rgb(250, 19, 69);
    border:3px dashed yellow;
    box-shadow: 2px 2px 10px orangered;
    text-shadow: 1px 1px black;
    font-family:'Segoe UI';
  }

  .starth2{
    font-size: 80px;
    text-shadow: 2px 2px black;
    font-family: 'Courier New', Courier, monospace;
    color:white;
  }


/*.but
{
  
   border:blue solid 2px; 

}
*/
.score , .no
{  color:#1DEDDD;
   font-size: 30px;
}

.res
{
   font-size: 20px;
}