
/*
#but {
    background-color:peachpuff;
    border: 4px solid purple;
    color:red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top:400px;
    left:570px;
    font-size:2.5vw;
    font-family: 'Lucida Sans';
  }
  #but:hover {
    background-color:crimson;
    color: white;
  }*/

  div{
    text-align: center;
}
body{
    background: black;
    
}


#player {
    position: absolute;
    top: 300px;
    left: 30px;
  
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.star {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
       }

.up {
    position: absolute;
    width: 30px;
    height: 50px;
    

    
}  
 
.down {
    position: absolute;
    width: 30px;
    height: 50px;
    
    
}  

  


  .starth1{
    font-size: 100px;
    text-shadow: 4px 4px  red;
    color:#185ED9;
  }


.but
{
   width: 200px;
   height: 30px;
   margin-bottom: 20px;
   background: red;
   border-radius:20%;
   border:blue solid 2px; 

}